[Unit]
Description=polybar
PartOf=graphical-session.target
StartLimitBurst=3
StartLimitIntervalSec=10
After=xserver.service

[Service]
Type=simple
ExecStart=/usr/bin/polybar
Restart=on-failure
RestartSec=5
Environment="XDG_CONFIG_HOME=/var/lib/vnmntn/.config"
