{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing"}}🔥 <b>{{ .Labels.alertname }}</b> 🔥{{ else }}✅ <b>{{ .Labels.alertname }}</b> ✅{{ end }}
<b>Метки:</b>{{ range $key, $value := .Labels }}{{ if ne $key "alertname" }}
    {{ $key }}: {{ $value }}{{ end }}{{ end }}
<b>Аннотации:</b>{{ range $key, $value := .Annotations }}
    {{ $key }}: {{ $value }}{{ end }}{{ if eq .Status "firing"}}
<b>Начало:</b> {{ since .StartsAt }}{{ else }}
<b>Длительность:</b> {{ duration .StartsAt .EndsAt }}
<b>Завершено: </b> {{ .EndsAt | since }}{{ end }}
{{ end }}
{{ end }}
