global
    stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
    log stdout format raw local0 info
    ssl-default-server-ciphers PROFILE=SYSTEM
    ssl-dh-param-file /etc/haproxy/dhparams.pem

defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s
    timeout http-request 10s
    log global

frontend default
    bind 0.0.0.0:80
    bind 0.0.0.0:443 ssl crt /etc/haproxy/wildcard.pem
    redirect scheme https code 301 if !{ ssl_fc }
    mode http

    acl is_git hdr(host) -i git.vnmntn.com
    acl is_drone hdr(host) -i drone.vnmntn.com
    acl is_minio hdr(host) -i minio.vnmntn.com
    acl is_minio_api hdr(host) -i minio-api.vnmntn.com
    acl is_grafana hdr(host) -i grafana.vnmntn.com
    acl is_api hdr(host) -i api.vnmntn.com
    acl is_api_new hdr(host) -i api-new.vnmntn.com
    acl is_app hdr(host) -i app.vnmntn.com
    acl is_lam hdr(host) -i lam.vnmntn.com

    use_backend git if is_git
    use_backend drone if is_drone
    use_backend minio if is_minio
    use_backend minio_api if is_minio_api
    use_backend grafana if is_grafana
    use_backend api if is_api
    use_backend api_new if is_api_new
    use_backend app if is_app
    use_backend lam if is_lam

    default_backend             kube_ingress

#frontend kube_api
#    bind            0.0.0.0:6443
#    mode            tcp
#    option          tcplog    
#    default_backend kube_api

backend git
    mode http
    server  app1 127.0.0.1:3030

backend drone
    mode http
    server  app1 127.0.0.1:8080

backend minio
    mode http
    server  app1 127.0.0.1:9001

backend minio_api
    mode http
    server  app1 127.0.0.1:9000

backend grafana
    mode http
    server  app1 127.0.0.1:3001

backend api
    mode http
    server  app1 127.0.0.1:9090

backend api_new
    mode http
    server  app1 127.0.0.1:8000

backend app
    mode http
    server  app1 127.0.0.1:9092

backend lam
    mode http
    server  app1 127.0.0.1:8090

backend kube_ingress
    mode    http
    server  app1 192.168.122.10:32528 check
    server  app2 192.168.122.11:32528 check

#backend kube_api
#    mode tcp
#    option tcplog
#    option tcp-check
#    balance roundrobin
#    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
#    server m01 192.168.122.10:6443
#    server m02 192.168.122.11:6443
#    server m03 192.168.122.12:6443
