[Confluent.dist]
name=Confluent repository (dist)
baseurl=https://packages.confluent.io/rpm/{{ sr_ver }}
gpgcheck=1
gpgkey=https://packages.confluent.io/rpm/{{ sr_ver }}/archive.key
enabled=1

[Confluent]
name=Confluent repository
baseurl=https://packages.confluent.io/rpm/{{ sr_ver }}
gpgcheck=1
gpgkey=https://packages.confluent.io/rpm/{{ sr_ver }}/archive.key
enabled=1
