{% for item in vars.raw %}
{{ item }}
{% endfor %}

{% for item in vars.setters %}
set {{ item }}
{% endfor %}

bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status
bindsym XF86MonBrightnessUp exec brightnessctl set +4%
bindsym XF86MonBrightnessDown exec brightnessctl set 4%-

{% for item in vars.bindsym %}
bindsym {{ item }}
{% endfor %}

{% for item in vars.circle %}
bindsym $mod+{{ item.key }} $circle -c "{{ item.command }}" -w "{{ item.ws }}" -a "{{ item.app }}"
{% endfor %}

{% for item in vars.circle %}
bindsym $mod+Shift+{{ item.key }} move container to workspace "{{ item.ws }}"
{% endfor %}

mode "resize" {
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym semicolon resize grow width 10 px or 10 ppt
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}
