table.list:not(.odd-even) tbody tr:nth-child(even), .even, #issue-changesets div.changeset:nth-child(even) {
    background-color: #fff !important;
}

table.list:not(.odd-even) tbody tr:nth-child(odd), .odd, #issue-changesets div.changeset:nth-child(odd) {
    background-color: #f6f7f8 !important;
}

tr.red-statuses {
    background-color: #202020 !important;
}

#header {
    background-color: #3134d6 !important;
}

#top-menu {
    background-color: #3134d6 !important;
}

tr.red-statuses a {
    color: #db6dad !important;
}

tr.red-statuses {
    color: #db6dad !important;
    font-weight: bold;
}

table.list tr.overdue td.due_date {
    color: #db6dad !important;
}
div.issue {
    background: #101010 !important;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #101010 !important;
    border-radius: 3px;
}
