[Unit]
Description=grafana
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
Type=simple
User=grafana
ExecStart=/opt/grafana-9.5.2/bin/grafana-server --config /opt/grafana-9.5.2/conf/sample.ini --homepath /opt/grafana-9.5.2
Restart=on-failure
RestartSec=5
